
.normal {
    background-color: #f2f3f5;
    text-align: center;
    height: 100%;
}

.antcarousel {
    text-align: center;
    height: 40em;
    line-height: 160px;
    background: #ececee;
    overflow: hidden;
    color: #fff;

}

.slimg {
    width: 100%;
}

.slick-slide h3 {
}

.topQuick{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4em 10em;
}

.mainContent{
    background-color: white;
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 15em;
    padding-right: 15em;
}

.imgSc{
    width: 250px;
    height: 150px;
}

.icon{
    width: 100%;
}